<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" formControlName="name" [class.is-invalid]="getErrors('name') && getField('name')?.touched">
      <div  *ngIf="getErrors('name') && getField('name')?.touched">
        <p class="text-danger" *ngIf="getErrors('name')?.['required']">name is required</p>
        <p class="text-danger" *ngIf="getErrors('name')?.['pattern']">name contains only upper and lower characters
        </p>
      </div>

    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" [class.is-invalid]="getErrors('email') && getField('email')?.touched">
      <div  *ngIf="getErrors('email') && getField('email')?.touched">
        <p class="text-danger" *ngIf="getErrors('email')?.['required']">email is required</p>
        <p class="text-danger" *ngIf="getErrors('email')?.['email']">Enter valid email address</p>
      </div>
    
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
      <div  *ngIf="getErrors('password') && getField('password')?.touched">
        <p class="text-danger" *ngIf="getErrors('password')?.['required']">password is required</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">confirm Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="confirmPassword" [class.is-invalid]="getErrors('confirmPassword') && getField('confirmPassword')?.touched">
      <p class="text-danger" *ngIf="getErrors('confirmPassword')?.['required'] && getField('confirmPassword')?.touched">confirmpassword is
        required</p>
    </div>
    <p class="text-danger" *ngIf="registerForm.errors?.['mismatch']">confirmpassword and password dont match</p>
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example"
         formControlName="hearAboutUs">
        <option selected>where did you hear about us</option>
        <option value="facebook">facebook</option>
        <option value="Twitter">Twitter</option>
        <option value="google">google</option>
      </select>
      <p class="text-danger" *ngIf="getErrors('hearAboutUs')?.['required'] && getField('hearAboutUs')?.touched">please choose where did you
        hear about us</p>
    </div>
    <button type="submit" class="btn btn-primary"
      [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
{{registerForm.value | json}}