<div class="container">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">userName</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>where did you hear about us</option>
                <option value="facebook">facebook</option>
                <option value="Twitter">Twitter</option>
                <option value="google">google</option>
              </select>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
</div>

